:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #e5e5e5;
  --primary-background-color: #ffffff;
}

/* general parameters */
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03 em;

  font-family: Roboto, sans-serif;
}

/* header */
.logo {
  font-family: Raleway, sans-serif;
  color: var(--accent-color);

  font-weight: bold;
  font-size: 26 px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-color {
  color: #000000;
}
.logo-color-footer {
  color: #ffffff;
}
.list {
  list-style: none;
}
/* nav */
.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14 px;
  line-height: 1.14;
  letter-spacing: 0.02 em;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.site-nav-link-current {
  color: var(--accent-color);
}
/* contacts */
.contacts {
  color: var(--primary-text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* main section */
.banner {
  background-color: #2f303a;
}

h1 {
  color: var(--primary-background-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44 px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06 em;
  text-transform: uppercase;
}

/* Features */
/* features header */
.features-header {
  color: var(--title-text-color);

  font-style: normal;
  font-size: 14 px;
  line-height: 1.14;
  letter-spacing: 0.03 em;
  text-transform: uppercase;
}
/* features text */
.features-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14 px;
  line-height: 1.71;
  letter-spacing: 0.03 em;
}

.section-title {
  color: var(--title-text-color);

  font-size: 36 px;
  line-height: 1.17;
  text-align: center;
  text-align: center;
  letter-spacing: 0.03 em;
}

/* buttons parameters */
.button-primary {
  color: var(--primary-background-color);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16 px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06 em;
  cursor: pointer;
}

button {
  font: inherit;
  cursor: pointer;
}

/* Team */
.team {
  background-color: var(--primary-white-color);
}
.team-photo {
  background-color: #ffffff;
}

.name {
  color: var(--title-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16 px;
  line-height: 1.19;
  text-align: center;
}

.position {
  font-size: 16 px;
  line-height: 1.19;
  text-align: center;
}

/* footer */
footer {
  background-color: #2f303a;
}
.address {
  color: var(--primary-background-color);
  font-style: normal;
  font-size: 14 px;
  line-height: 1.71;
}

.email {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}

/* Portfolio page */
.button-secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16 px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.button-secondary:focus,
.button-secondary:hover {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}
.portfolio-name {
  color: var(--title-text-color);

  font-style: normal;
  font-size: 18 px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-filter {
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 16 px;
  line-height: 1.87;
}
